@media screen and (min-width:1901px) {
    svg#bg__azul {
        width: calc(400px + 90px);
    }

    /*    #pedagogia,
    #acontece,
    #matriculas {
        color: white;

    } */

    .icon-detalhes-bg {
        position: absolute;
        top: 0px !important;
        right: 0;
        width: 350px !important;
        height: 100%;
    
        #icon-detalhes-bg {
            position: absolute;
            top: 0;
            right: 150px;
            width: 200px ;
        }
    
    }
}



@media screen and (max-width:1900px) and (min-width: 1846px) {
    svg#bg__azul {
        width: calc(730px + 90px);
    }
   

    @include text-white;
}

@media screen and (max-width:1847px) and (min-width: 1784px) {
    svg#bg__azul {
        width: calc(690px + 90px);
    }

    @include text-white;
}

@media screen and (max-width:1783px) and (min-width: 1716px) {
    svg#bg__azul {
        width: calc(655px + 90px);
    }

    @include text-white;
}

@media screen and (max-width:1715px) and (min-width: 1682px) {
    svg#bg__azul {
        width: calc(640px + 90px);
    }

    @include text-white;
}

@media screen and (max-width:1681px) and (min-width: 1620px) {
    svg#bg__azul {
        width: calc(610px + 90px);
    }

    @include text-white;
}

@media screen and (max-width:1619px) and (min-width: 1583px) {
    svg#bg__azul {
        width: calc(590px + 90px);
    }

    @include text-white;
}

@media screen and (max-width:1582px) and (min-width: 1542px) {
    svg#bg__azul {
        width: calc(570px + 90px);
    }

    @include text-white;
}

@media screen and (max-width:1541px) and (min-width: 1487px) {
    svg#bg__azul {
        width: calc(545px + 90px);
    }

    @include text-white;
}

@media screen and (max-width:1541px) and (min-width: 1487px) {
    svg#bg__azul {
        width: calc(545px + 90px);
    }

    @include text-white;
}

@media screen and (max-width:1486px) and (min-width: 1452px) {
    svg#bg__azul {
        width: calc(525px + 90px);
    }

    @include text-white;

}

@media screen and (max-width:1451px) and (min-width: 1402px) {
    svg#bg__azul {
        width: calc(500px + 90px);
    }

    @include text-white;

}

@media screen and (max-width:1401px) and (min-width: 1358px) {
    svg#bg__azul {
        width: calc(478px + 90px);
    }

    @include text-white;

   /*  #institucional {
        color: white;
    } */
}

@media screen and (max-width:1357px) and (min-width: 1312px) {
    svg#bg__azul {
        width: calc(455px + 90px);
    }

    @include text-white;

   /*  #institucional {
        color: white;
    } */
}


@media screen and (max-width:1311px) and (min-width: 1280px) {
    svg#bg__azul {
        width: calc(435px + 90px);
    }

    @include text-white;

   /*  #institucional {
        color: white;
    } */
}

@media screen and (max-width:1280px)  and (min-width: 1000px)  {
    svg#bg__azul {
        width:525px;
    }

    @include text-white;

  /*   #institucional {
        color: white;
    }  */
}